@charset "utf-8";
@import url(../../plugins/layui/css/layui.css);
@import url(../../styles/main.css);
a {
    color: #666;
}

a:hover {
    color: #009688;
}

.layui-form-label{
	width: 100px;
}
.qqm-operation-bar .layui-input-block{
	margin-left: 110px;
}