@charset "utf-8";
@import url(../../plugins/layui/css/layui.css);
@import url(../../styles/main.css);
.qqm-list-default .layui-table th,
.qqm-list-default .layui-table td {
    min-width: 120px;
}

.qqm-list-default {
    overflow-x: scroll;
        margin: 0 25px;
        padding:0; 
}
